# Add files here to ignore them from prettier formatting

/dist
/coverage
/.yarn
node_modules

yarn.lock
migrations.json

libs/types/src/lib/api
/.nx/cache
.angular

.changeset/pre.json
.changeset/*.md
CHANGELOG.md
/.nx/workspace-data