<!-- <div #scrollableTest class="scrollable-test scrollable-test-1"></div>

<div #scrollableTestWrapper class="wrap">
  <div class="scrollable-test-wrapper">
    <div class="scrollable-test"></div>
    <ng-content />

    <div #scrollableTest2 id="test-2" class="scrollable-test scrollable-test-2"></div>
  </div>
</div>

<button (click)="scrollToElStart()">Start</button>
<button (click)="scrollToElEnd()">End</button>
<button (click)="scrollToElCenter()">Center</button>
<button (click)="scrollToElNearest()">Nearest</button>

<br />
<br />

<button (click)="scrollToElStartNative()">Start native</button>
<button (click)="scrollToElEndNative()">End native</button>
<button (click)="scrollToElCenterNative()">Center native</button>
<button (click)="scrollToElNearestNative()">Nearest native</button>

<div id="items" class="items">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div id="item" class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
-->
<et-scrollable
  class="scrollable-issue"
  snap
  scrollMode="element"
  itemSize="full"
  renderNavigation
  renderScrollbars="false"
  stickyButtons="false"
  direction="horizontal"
>
  <div class="scroll-item">1</div>
  <div class="scroll-item">2</div>
  <div class="scroll-item">3</div>
  <div class="scroll-item">4</div>
  <div class="scroll-item">5</div>
</et-scrollable>

<et-scrollable class="scrollable-long" renderMasks="false" scrollMargin="20">
  <div class="scroll-item">1</div>
  <div class="scroll-item">2</div>
  <div class="scroll-item">3</div>
  <div class="scroll-item">4</div>
  <div class="scroll-item">5</div>
  <div class="scroll-item">6</div>
  <div class="scroll-item">7</div>
  <div class="scroll-item">8</div>
  <div class="scroll-item">9</div>
  <div class="scroll-item">10</div>
  <div class="scroll-item">11</div>
  <div class="scroll-item">12</div>
</et-scrollable>

<et-scrollable class="scrollable-long">
  <div class="scroll-item">1</div>
  <div class="scroll-item">2</div>
  <div class="scroll-item" etScrollableIsActiveChild>3</div>
  <div class="scroll-item">4</div>
  <div class="scroll-item">5</div>
</et-scrollable>

<et-scrollable class="scrollable-medium" snap>
  <div class="scroll-item">1</div>
  <div class="scroll-item">2</div>
  <div class="scroll-item" etScrollableIsActiveChild>3</div>
  <div class="scroll-item">4</div>
  <div class="scroll-item">5</div>
</et-scrollable>

<et-scrollable snap renderMasks="false" scrollMode="element" renderNavigation>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
</et-scrollable>

<et-scrollable snap renderNavigation>
  <div class="scroll-item"></div>
</et-scrollable>

<et-scrollable class="scrollable-long" snap scrollMode="element" renderMasks="false">
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
</et-scrollable>

<et-scrollable class="scrollable-short" snap scrollMode="element" renderMasks="false">
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
  <div class="scroll-item"></div>
</et-scrollable>

@if (renderStuff()) {
  <et-scrollable
    (intersectionChange)="log('hehe')"
    class="scrollable-long"
    snap
    scrollMode="element"
    renderMasks="false"
    renderNavigation
  >
    <div class="scroll-item 1"></div>
    <div class="scroll-item 2"></div>
    <div class="scroll-item 3"></div>
    <div class="scroll-item 4"></div>
    <div class="scroll-item 5"></div>
    <div class="scroll-item 6"></div>
    <div class="scroll-item 7"></div>
  </et-scrollable>
}
<button (click)="renderStuff.set(!renderStuff())">Toggle render stuff</button>

<div class="scrollable-test-container">
  <et-scrollable
    [renderMasks]="false"
    class="scrollable-test-outer"
    scrollMode="element"
    scrollableClass="scrollable-test-inner"
    itemSize="same"
    scrollOrigin="center"
    buttonPosition="footer"
    renderNavigation
    darkenNonIntersectingItems
    snap
  >
    <div class="scrollable-test-item">
      <p>item 1</p>
      <p>Content Test</p>
      <p>Content</p>
    </div>
    <div class="scrollable-test-item">
      <p>item 2</p>
      <p>Content Test</p>
      <p>Content</p>
    </div>
    <div class="scrollable-test-item">item 3</div>
    <div class="scrollable-test-item">item 4</div>
    <div class="scrollable-test-item" etScrollableIsActiveChild>item 5</div>
    <div class="scrollable-test-item">item 6</div>
    <div class="scrollable-test-item">item 7</div>
    <div class="scrollable-test-item">item 8</div>
    <div class="scrollable-test-item">item 9</div>
    <div class="scrollable-test-item">item 10</div>
    <div class="scrollable-test-item">item 11</div>
    <div class="scrollable-test-item">item 12</div>
    <div class="scrollable-test-item">item 13</div>
    <div class="scrollable-test-item">item 14</div>
    <div class="scrollable-test-item">item 15</div>
  </et-scrollable>
</div>

<et-scrollable
  class="scrollable-vertical"
  direction="vertical"
  itemSize="auto"
  darkenNonIntersectingItems
  scrollMode="element"
  renderNavigation
  buttonPosition="footer"
  snap
>
  <div class="scroll-item">1</div>
  <div class="scroll-item">2</div>
  <div class="scroll-item">3</div>
  <div class="scroll-item">4</div>
  <div class="scroll-item">5</div>
  <div class="scroll-item">6</div>
  <div class="scroll-item">7</div>
  <div class="scroll-item">8</div>
  <div class="scroll-item">9</div>
  <div class="scroll-item">10</div>
  <div class="scroll-item">11</div>
  <div class="scroll-item">12</div>
</et-scrollable>
