<!-- eslint-disable @angular-eslint/template/no-any -->
<!-- <h1>Sandbox</h1>

<p>Current theme: {{ currentTheme }}</p>

<button (click)="toggleTheme()" type="button">Toggle theme</button>

<et-theme-provider [theme]="currentTheme">
  <div class="themed-div">
    <p>Some text</p>
  </div>
</et-theme-provider>

<button (click)="showDialog()" class="dialog-btn" type="button">Show dialog</button>
<button (click)="showBottomSheet()" class="dialog-btn" type="button">Show bottom sheet</button> -->

<!-- <ethlete-async-table></ethlete-async-table> -->

<!-- <et-bracket
  [roundsWithMatches]="$any(data)"
  [componentConfig]="config"
  itemWith="200px"
  itemHeight="100px"
  rowGap="1rem"
  columnGap="2rem"
/> -->

<!-- <et-contentful-rich-text-renderer
  [richText]="$any(contentfulData.data.pageCollection.items[0].content)"
/> -->

<!-- <ethlete-test-comp *ngIf="seoShowComp"></ethlete-test-comp>
<button (click)="seoShowComp = !seoShowComp" type="button">show seo comp</button>

<et-contentful-rich-text-renderer [richText]="contentfulRichTextTest" />
<button (click)="updateText()" type="button">UPDATE TEXT</button> -->

<!-- <et-structured-data [data]="structuredData" />-->

<!-- <button [disabled]="disabled" [query]="discoverMoviesQuery$ | async" (click)="loadData()" et-query-button type="button">
  Hello there
</button>

<button (click)="disabled = !disabled" et-button type="button">toggle disabled</button>

<et-checkbox />
<et-checkbox checked />
<et-checkbox indeterminate />

<br />
<br />

<et-checkbox-group>
  <et-checkbox etCheckboxGroupControl />
  <et-checkbox />
  <et-checkbox />
  <et-checkbox />
</et-checkbox-group>

<br />
<br />

<label #label="etLabel" etLabel>Label</label>
<et-slide-toggle [labelRef]="label" />

<br />
<br /> -->

<et-form-field [formControl]="form">
  <et-slide-toggle />
  <et-label> Toggle stuff </et-label>
</et-form-field>

<br />
<br />

<et-form-field [formControl]="form">
  <et-checkbox />
  <et-label> Check stuff </et-label>
</et-form-field>

<br />
<br />

<et-checkbox-group>
  <et-form-field>
    <et-checkbox etCheckboxGroupControl />
    <et-label>All</et-label>
  </et-form-field>

  <br />
  <br />

  <et-form-field [formControl]="cb2">
    <et-checkbox />
    <et-label>Apple</et-label>
  </et-form-field>

  <br />
  <br />

  <et-form-field [formControl]="cb3">
    <et-checkbox />
    <et-label>Bananas</et-label>
  </et-form-field>
</et-checkbox-group>

<et-form-field [formControl]="cb4">
  <et-slide-toggle />
  <et-label> Disable all stuff </et-label>
</et-form-field>

<br />
<br />

<!-- <et-field>
  <et-label>Label</et-label>
  <et-checkbox />
</et-field>




<et-field>
  <et-label>Label</et-label>
  <et-input />
</et-field> -->
