<!-- eslint-disable @angular-eslint/template/no-any -->
<!-- <h1>Sandbox</h1>

<p>Current theme: {{ currentTheme }}</p>

<button (click)="toggleTheme()" type="button">Toggle theme</button>

<et-theme-provider [theme]="currentTheme">
  <div class="themed-div">
    <p>Some text</p>
  </div>
</et-theme-provider>

<button (click)="showDialog()" class="dialog-btn" type="button">Show dialog</button>
<button (click)="showBottomSheet()" class="dialog-btn" type="button">Show bottom sheet</button> -->

<!-- <ethlete-async-table></ethlete-async-table> -->

<!-- <et-bracket
  [roundsWithMatches]="$any(data)"
  [componentConfig]="config"
  itemWith="200px"
  itemHeight="100px"
  rowGap="1rem"
  columnGap="2rem"
/> -->

<!-- <et-contentful-rich-text-renderer
  [richText]="$any(contentfulData.data.pageCollection.items[0].content)"
/> -->

<!-- <ethlete-test-comp *ngIf="seoShowComp"></ethlete-test-comp>
<button (click)="seoShowComp = !seoShowComp" type="button">show seo comp</button>

<et-contentful-rich-text-renderer [richText]="contentfulRichTextTest" />
<button (click)="updateText()" type="button">UPDATE TEXT</button> -->

<!-- <et-structured-data [data]="structuredData" />-->

<!-- <button [disabled]="disabled" [query]="discoverMoviesQuery$ | async" (click)="loadData()" et-query-button type="button">
  Hello there
</button>

<button (click)="disabled = !disabled" et-button type="button">toggle disabled</button>

-->
<h1 id="top">Top</h1>
<a [routerLink]="'/test'">to test</a>
<a routerLink>to home</a>
<a routerLink fragment="top">to top</a>
<a routerLink fragment="bottom">to bottom</a>

<router-outlet />

<a [routerLink]="'/test'">to test</a>
<a routerLink>to home</a>
<a routerLink fragment="top">to top</a>
<a routerLink fragment="bottom">to bottom</a>

<h1 id="bottom">Bottom</h1>
