<!-- <h1>Sandbox</h1>

<p>Current theme: {{ currentTheme }}</p>

<button (click)="toggleTheme()" type="button">Toggle theme</button>

<et-theme-provider [theme]="currentTheme">
  <div class="themed-div">
    <p>Some text</p>
  </div>
</et-theme-provider>

<button (click)="showDialog()" class="dialog-btn" type="button">Show dialog</button>
<button (click)="showBottomSheet()" class="dialog-btn" type="button">Show bottom sheet</button> -->

<!-- <ethlete-async-table></ethlete-async-table> -->

<!-- <et-bracket
  [roundsWithMatches]="$any(data)"
  [componentConfig]="config"
  itemWith="200px"
  itemHeight="100px"
  rowGap="1rem"
  columnGap="2rem"
></et-bracket> -->
