.themed-div {
  background-color: var(--primary);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 300ms var(--ease-in-out-3);
  margin-top: 20px;

  p {
    color: var(--on-primary);
    transition: all 300ms var(--ease-in-out-3);
  }

  &:hover {
    transform: rotate(360deg);
  }

  color: #282828;
}

.dialog-btn {
  margin-top: 20px;
}

.et-picture-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
