<h3>Async table</h3>

<ng-container *ngIf="form">
  <label for="vote_average.gte">vote_average.gte</label> <br />
  <input
    [formControl]="form.controls['vote_average.gte']"
    id="vote_average.gte"
    type="number"
    placeholder="Vote avg gte"
  />

  <ng-container *query="discoverMoviesQuery$ | async as response; loading as loading; error as error; cache: true">
    <et-skeleton *ngIf="loading && !response">
      <div *etRepeat="20" class="skeleton-row">
        <et-skeleton-item *etRepeat="4"></et-skeleton-item>
      </div>
    </et-skeleton>

    <ng-container *ngIf="response">
      <p>
        Page {{ response.page }} of {{ response.total_pages }}
        <ng-container *ngIf="loading"> [LOADING DATA] </ng-container>
      </p>

      <et-table [dataSource]="response.results" [busy]="loading" [sortControl]="form.controls.sort_by" etSort>
        <ng-container etColumnDef="original_title">
          <et-header-cell *etHeaderCellDef et-sort-header> original_title </et-header-cell>
          <et-cell *etCellDef="let row"> {{ row.original_title }} </et-cell>
        </ng-container>

        <ng-container etColumnDef="title">
          <et-header-cell *etHeaderCellDef et-sort-header> title </et-header-cell>
          <et-cell *etCellDef="let row"> {{ row.title }} </et-cell>
        </ng-container>

        <ng-container etColumnDef="popularity">
          <et-header-cell *etHeaderCellDef et-sort-header> popularity </et-header-cell>
          <et-cell *etCellDef="let row"> {{ row.popularity }} </et-cell>
        </ng-container>

        <ng-container etColumnDef="vote_average">
          <et-header-cell *etHeaderCellDef et-sort-header> vote_average </et-header-cell>
          <et-cell *etCellDef="let row"> {{ row.vote_average }} </et-cell>
        </ng-container>

        <ng-template etTableBusy>
          <div>
            <span class="loader"></span>
          </div>
        </ng-template>

        <ng-template etNoDataRow>
          <p>No data found</p>
        </ng-template>

        <et-header-row *etHeaderRowDef="['original_title', 'title', 'popularity', 'vote_average']"></et-header-row>
        <et-row *etRowDef="let row; columns: ['original_title', 'title', 'popularity', 'vote_average']"></et-row>
      </et-table>

      <et-pagination
        [totalPages]="response.total_pages"
        [pageControl]="form.controls.page"
        headAddCanonicalTag
        headTitleTemplate="Movies - Page %s"
        headFirstPageTitle="Movies"
      ></et-pagination>
    </ng-container>
  </ng-container>
</ng-container>
