.dsp-button {
  --elevation-1dp:
    0px 1px 2px rgb(var(--et-sys-color-shadow) / 0.3), 0px 1px 3px 1px rgb(var(--et-sys-color-shadow) / 0.15);
  --elevation-0dp: 0px 1px 2px rgb(var(--et-sys-color-shadow) / 0), 0px 1px 3px 1px rgb(var(--et-sys-color-shadow) / 0);

  --_color: var(--c-primary);
  --_color-on: var(--c-primary-on);

  &.secondary {
    --_color: var(--c-secondary);
    --_color-on: var(--c-secondary-on);
  }

  &.tertiary {
    --_color: var(--c-tertiary);
    --_color-on: var(--c-tertiary-on);
  }

  all: unset;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  cursor: pointer;

  background-color: rgb(var(--et-sys-color-secondary-container));
  background-color: var(--_color);
  color: rgb(var(--et-sys-color-on-secondary-container));
  color: var(--_color-on);

  block-size: 40px;
  padding-inline: 24px;
  border-radius: 20px;
  line-height: 1;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  z-index: 0;

  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  box-shadow: var(--elevation-0dp);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: opacity 0.2s ease-in-out;
    background-color: rgb(var(--et-sys-color-on-secondary-container));
    background-color: var(--_color-on);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    box-shadow: var(--elevation-1dp);
    &::after {
      opacity: 0.1;
    }
  }

  &:focus-visible {
    box-shadow: var(--elevation-0dp);

    &::after {
      opacity: 0.16;
    }
  }

  &:active {
    box-shadow: var(--elevation-0dp);

    &::after {
      opacity: 0.2;
    }
  }

  &:disabled {
    background-color: rgb(var(--et-sys-color-on-surface) / 0.12);
    color: rgb(var(--et-sys-color-on-surface) / 0.38);
    box-shadow: var(--elevation-0dp);

    cursor: default;

    &::after {
      opacity: 0;
    }
  }
}
