@import 'tailwindcss' source('../../../../libs');

@import './fonts/font-archivo.css';
@import './fonts/font-stretch-pro.css';
@import './fonts/font-tusker-grotesk.css';
@import './tokens.css';
@import './themes.css';
@import './surface-themes.css';

@source '../';

@layer utilities {
  :where(.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6) {
    font-family: var(--font-title);
    text-transform: uppercase;
    text-wrap: balance;
    -webkit-font-smoothing: antialiased;
  }

  :where(.text-subline) {
    font-family: var(--font-display);
    text-transform: uppercase;
    text-wrap: balance;
    -webkit-font-smoothing: antialiased;
  }

  :where(.text-huge, .text-extra-large, .text-large, .text-base, .text-small) {
    font-family: var(--font-sans);
    text-wrap: pretty;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
