@import '../../../libs/cdk/src/lib/styles/index.css';
@import 'design-system.css';

html {
  color-scheme: dark;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.et-bottom-sheet,
.et-overlay,
.et-dialog {
  background-color: #282828;
}

.et-dialog,
.et-overlay--dialog {
  border-radius: 20px;
}

.et-bottom-sheet,
.et-overlay--bottom-sheet {
  border-radius: 20px 20px 0 0;
}

.et-overlay--top-sheet {
  border-radius: 0 0 20px 20px;
}

.et-overlay--right-sheet {
  border-radius: 20px 0 0 20px;
}

.et-overlay--left-sheet {
  border-radius: 0 20px 20px 0;
}

.et-bottom-sheet-drag-handle {
  --background-color: #fff;
}
