name: CI (PR)

on:
  pull_request:

concurrency: ci-${{ github.ref }}

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0

      - run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'
          cache: 'yarn'

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - run: yarn install --immutable

      - run: yarn nx format:check

      - run: yarn nx run-many -t lint

      - run: yarn nx run-many -t test

      - run: yarn nx run-many -t build

      - if: "${{ !contains(github.event.pull_request.title, 'from API') && !contains(github.event.pull_request.title, 'API TS Models') }}"
        run: yarn nx run playground:build-storybook:ci

      - uses: FirebaseExtended/action-hosting-deploy@v0
        if: "${{ github.event.pull_request.head.repo.full_name == github.repository && !contains(github.event.pull_request.title, 'from API') && !contains(github.event.pull_request.title, 'API TS Models') }}"
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ETHLETE_SDK }}'
          projectId: ethlete-sdk
          target: next
